## Brett Duvall
DATA 690

Splitting the image dataset into train and test splits

In [3]:
!pip install yolosplitter

Collecting yolosplitter
  Downloading yolosplitter-0.5.0.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: pandas in c:\users\brett\anaconda3\lib\site-packages (from yolosplitter) (2.2.2)
Requirement already satisfied: tqdm in c:\users\brett\anaconda3\lib\site-packages (from yolosplitter) (4.66.5)
Requirement already satisfied: PyYAML in c:\users\brett\anaconda3\lib\site-packages (from yolosplitter) (6.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\brett\anaconda3\lib\site-packages (from pandas->yolosplitter) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\brett\anaconda3\lib\site-packages (from pandas->yolosplitter) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\brett\anaconda3\lib\site-packages (from pandas->yolosplitter) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\brett\anaconda3\lib\site-packages (from pandas->yolosplitter) (2023.3)
Requirement already satisfied: colorama in c:\users\brett\anaconda3\lib\site-packages (from tqdm->yolosplitter) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\brett\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->yolosplitter) (1.16.0)
Downloading yolosplitter-0.5.0.0-py3-none-any.whl (5.2 kB)
Installing collected packages: yolosplitter
Successfully installed yolosplitter-0.5.0.0

In [1]:
from yolosplitter import YoloSplitter

ys = YoloSplitter(imgFormat=['.jpg', '.jpeg', '.png'], labelFormat=['.txt'] )

# If you have yolo-format dataset already on the system
#df = ys.from_yolo_dir(input_dir="yolo_dataset",ratio=(0.7,0.2,0.1),return_df=True)

# If you have mixed Images and Labels in the same directory
df = ys.from_mixed_dir(input_dir="data_combined",ratio=(0.7,0.2,0.1),return_df=True)

# To see train/test/val split size, total error files, all class names from annotation files
ys.info()

# !!! changed show_dataframe to get_dataframe()
# to see dataframe
ys.get_dataframe()

,images,labels,annots,cls_names,set,new_set
0,01_45deg_frame_0000.jpg,01_45deg_frame_0000.txt,"[[0, [0.512153, 0.556944, 0.134028, 0.173148]]]",[0],,test
1,01_45deg_frame_0001.jpg,01_45deg_frame_0001.txt,"[[0, [0.512153, 0.556944, 0.134028, 0.173148]]]",[0],,val
2,01_45deg_frame_0002.jpg,01_45deg_frame_0002.txt,"[[0, [0.512153, 0.556944, 0.134028, 0.173148]]]",[0],,val
3,01_45deg_frame_0003.jpg,01_45deg_frame_0003.txt,"[[0, [0.512153, 0.556944, 0.134028, 0.173148]]]",[0],,train
4,01_45deg_frame_0004.jpg,01_45deg_frame_0004.txt,"[[0, [0.512153, 0.556944, 0.134028, 0.173148]]]",[0],,train
...,...,...,...,...,...,...
16762,18_top_frame_0375.jpg,18_top_frame_0375.txt,"[[17, [0.490278, 0.512037, 0.172222, 0.214815]]]",[17],,val
16763,18_top_frame_0376.jpg,18_top_frame_0376.txt,"[[17, [0.490278, 0.512037, 0.172222, 0.214815]]]",[17],,train
16764,18_top_frame_0377.jpg,18_top_frame_0377.txt,"[[17, [0.490278, 0.512037, 0.172222, 0.214815]]]",[17],,train
16765,18_top_frame_0378.jpg,18_top_frame_0378.txt,"[[17, [0.490278, 0.512037, 0.172222, 0.214815]]]",[17],,val
16766,18_top_frame_0379.jpg,18_top_frame_0379.txt,"[[17, [0.490278, 0.512037, 0.172222, 0.214815]]]",[17],,val

In [3]:
ys.save_split(output_dir="orig_and_1080p_split")

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 16767/16767 [05:03<00:00, 55.20it/s]

In [5]:
# Use ys.show_show_errors to show filename which have errors
ys.show_errors()

# Use ys.show_dataframe to see dataframe created on the dataset
ys.get_dataframe()

# To see train/test/val split size, total error files, all class names from annotation files
ys.info()

{'train': 22, 'val': 6, 'test': 3, 'cls_names': {0, 2, 4, 6, 7}, 'errors': 0}